* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$width: 400px;

.color {
  color: purple;
  font-size: 3em;
}

.mainTitle {
  transition: all 0.5s ease;
}

.space {
  width: 100%;
  height: 800px;
}

.space1 {
  width: 100%;
  height: 100px;
}

.space2 {
  width: 100%;
  height: 2000px;
}

.contacto {
  width: max-content;
  max-width: 100%;
  display: inline;
  padding: 14px;
  background-color: #ffce36;
  color: #03172c;
  border-radius: 8px;
  text-decoration: none;
}

.header {
  position: fixed;
  background-color: #ffce36;
  width: 100%;
  header {
    border: 1px solid red;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding: 20px 20px;
  }

  header > nav {
    display: flex;
    border: 1px solid red;
  }

  header > nav > * {
    display: flex;
  }

  header > nav > :first-child,
  header > nav > :last-child {
    flex: 1 1 0;
  }
  header > nav > :nth-child(2) > a {
    padding: 0 10px;
  }

  header > nav > :last-child > a {
    padding-left: 10px;
  }

  header > nav > :last-child {
    justify-content: flex-end;
  }
}

section {
  .wrapper {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    .grid {
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      .box {
        padding: 38px;
      }
      // .box1{
      // 	background: #67ca6f;
      // }
      // .box2{
      // 	background: #4f94db;
      // }
      // .box3{
      // 	background: #ffce36;
      // }

      .box1 {
        background: #67ca6f;
        grid-column: 1/2;
        grid-row: 1/3;
      }
      .box2 {
        background: #fff;
        border: 1px solid #ededed;
        grid-column: 2/4;
        grid-row: 2/3;
      }
      .box3 {
        background: #ffce36;
        grid-column: 2/4;
      }
      .box4 {
        background: #fff;
        grid-column: 1/4;
        grid-row: 3/4;
        .foto {
          max-width: 800px;
          width: 100%;
          height: auto;
          margin-bottom: 30px;
        }
      }
    }
    @media screen and (max-width: 800px) {
      .grid {
        .box1 {
          grid-column: 1/3;
          grid-row: 1/3;
        }
        .box2 {
          background: #4f94db;
          grid-column: 3/4;
          grid-row: 2/3;
        }
        .box3 {
          background: #ffce36;
          grid-column: 3/4;
        }
      }
    }
  }

  .article {
    margin: 20px auto;
    max-width: 1140px;
    width: 100%;
    .flex {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      .home_text {
        width: 33%;
        margin-right: 1rem;
        border: 1px solid red;
        .mynumber {
          margin: 0 0 5px;
          font-size: 2.375rem;
        }
      }
      .home_second {
        max-width: 600px;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        border: 1px solid red;
        .logo_wrapper {
          flex: 1 1 25%;
          text-align: center;
          padding: 20px;
          .mlogo {
            max-height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

article.mycard {
  background-color: #ccccff;
  .container {
    .myCollapse {
      .card {
        border: 1px solid red;

        // .card-header {
        //   display: flex;
        //   justify-content: space-between;
        //   padding: 28px;
        //   .fa-chevron-up {
        //     width: 28px;
        //     height: auto;
        //     transform: rotate(180deg);
        //     transition: all 0.3s ease;
        //   }
        // }
        // .card-header:active .fa-chevron-up {
        //   transform: rotate(0deg);
        // }

        .card-header {
          display: flex;
          justify-content: space-between;
          padding: 28px;
          .fa-chevron-up {
            width: 28px;
            height: auto;
            transform: rotate(0deg);
            transition: all 0.3s ease;
          }
          .rotated {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.article {
  position: relative;
  margin: 20px auto;
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .barra {
    position: relative;
    overflow: hidden;
    background-color: #7575cf;
    border-radius: 28px;
    padding: 32px;
    width: 46%;
    // &::before{
    // 	content: '';
    // 	position: absolute;
    // 	top: -26px;
    // 	left: 0;
    // 	width: 600px;
    // 	height: 100px;
    // 	background-color: #483D8B;
    // 	z-index: 0;
    // }
    .flex {
      .table {
        position: relative;
        width: 100%;
        tr th,
        tr td {
          position: relative;
          max-width: 80px;
          color: white;
          padding: 8px 0;
          text-align: left;
          z-index: 1;
          &:first-child {
            max-width: 90px;
            text-align: left;
          }
          &:nth-child(2) {
            max-width: 100px;
            text-align: center;
          }
          &:last-child {
            text-align: right;
            max-width: 100px;
          }
        }
        tr th {
          padding: 18px 0;
          text-align: center;
        }
        tr td {
          border-bottom: 1px solid #ccccff;
        }
        tr td.right {
          text-align: right;
          padding-right: 38px;
        }
        tr td .total {
          text-align: center;
          padding: 6px;
          font-size: 1.3rem;
          color: white;
          width: 100%;
          height: 2.5rem;
          border-radius: 6px;
          border: 2px solid #ccccff;
        }
        tr td .total-final {
          background-color: #483d8b;
          border: none;
        }
        tr td .text-bar {
          border: 1px solid red;
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  border: none;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input {
  display: inline-flex;
  align-items: center;
  height: 50px;
  input[type="number"] {
    font-family: sans-serif;
    width: 2.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    height: 2.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    border: 2px solid #ccccff;
  }
  button {
    outline: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    margin: 1rem;
    position: relative;
    border-radius: 50%;
    background-color: #ccccff;
    &::before,
    &::after {
      display: inline-block;
      position: absolute;
      content: "";
      width: 0.6rem;
      height: 1px;
      background-color: black;
      transform: translate(-50%, -50%);
    }
  }
  button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

/*   Badge   */
.badges {
  position: absolute;
  bottom: -33px;
  left: 240px;
  width: 200px;
  height: 200px;
  background: #552f87;
  border-radius: 100%;
  color: #ccccff;
  z-index: 10;
  line-height: 25px;
  text-align: center;
  transform: rotate(-10deg);
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  .firstLine {
    font-size: 24px;
    font-weight: 300;
  }
  .secondLine {
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
  }
  .thirdLine {
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
  }
}
