
.article{
    width: 100%;
    .container{
        max-width: 1140px;
        width: 100%;
        .flex{
            display: flex;
            flex-wrap: wrap;
            .map{
                margin-top: 90px;
                border-radius: 11px;
                width: 100%;
                height: 400px;
            }
        }
    }
}